#header{
    border: 3px;
    background-color: #ffffff;
    margin: 40px;
    padding: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    border: 3px solid;
    border-color: #aaa;
    background-color: #ffffff;
    margin: 40px;
    padding: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
b{
    font-weight: bold;
    color: #196390;
}
h1{
    color: #196390;
}
img{
    align-items: center;
    display: block;
    margin: auto;
    padding: auto;
    
}
#href-buttons{
    color: white;
    background-color: #196390;
    border: none;
    padding: 10px 30px;
}