/* Default Styling */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
  /* Custom Styling for body */
  background-image: url(/gfp/images/bg01.jpg);
}
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
/* Universal Styling */
.button {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
  border: none;
  font-size: medium;
  cursor: pointer;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 5px;
}
.button:hover {
  background-color: grey;
  transition: 0.4s;
}
.subtitle {
  font-weight: 100;
  font-style: normal;
}
.separator {
  width: 85%;
}
/* Navigaion Bar */
.nav {
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.nav a {
  padding: 15px 25px;
  margin: 10px;
  color: white;
  text-decoration: none;
}
.nav a:hover {
  background-color: grey;
  transition: 0.4s;
  color: white;
}
/* Content Div Styling */
#content {
  margin: 0px;
  padding: 0px;
  color: white;
}
/* Logo Styling */
img.logo {
  background-color: grey;
}
/* Introduction Styling */
#about {
  padding-top: 10px;
  padding-bottom: 10px;
}
.about-paragraph {
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
}
/* Products Styling */
#products {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-image {
  width: 150px;
  float: none;
  padding-top: 5px;
}
/* Footer Styling */
footer {
  color: white;
}
