body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    color: white;
}

#property-select {
    text-decoration: underline;
}

img[src="media/royalton.png"] {
    width: 500px;
}

img[src="media/thegrand.svg"] {
    width: 300px;
}
/* For Var Difference */
img[src="/2023-summer/media/royalton.png"] {
    width: 500px;
}

img[src="/2023-summer/media/thegrand.svg"] {
    width: 300px;
}

.property-group {
    display: block;
    padding: 20px;
    margin: 20px 20%;
    border: 1px solid #ffff;
    border-radius: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #292929;
    color: white;
    text-align: center;
}
