body{
    background-color: #15bfbc;
}

.ff{
    font-family: 'Anton', Courier, monospace;
}

.center{
    text-align: center;
}

#title{
    font-size: 50px;
}

#toc{
    list-style-type: none;
    margin-left: -45px;
}

#intro-head{
    color: black;
}